<div class="container-fluid bookbg p-5">

    <div class="formbg">





        <form class="p-5 bookform" [formGroup]="deletebyidForm" #deletebookForm="ngForm">

            <h1>Delete Book by id</h1>

            <div class="my-5">
                <div class="row mb-3">
                    <label for="b_id" class="col-4 col-form-label">Book Id:- </label>
                    <div class="col-8">
                        <input type="text" formControlName="b_id" #b_id (ngModel)="b_id" class="form-control" id="b_id"
                            placeholder="Book Id">

                        <div
                            *ngIf="deletebyidForm.get('b_id')?.invalid && (deletebyidForm.get('b_id')?.dirty || deletebyidForm.get('b_id')?.touched)">
                            <div *ngIf="deletebyidForm.get('b_id')?.hasError('required')"
                                class="validation text-danger">
                                Please
                                enter valid Id...</div>

                            <div *ngIf="deletebyidForm.get('b_id')?.hasError('pattern')" class="validation text-danger">
                                ID should be a positive integer / greater than 0.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" [disabled]="deletebyidForm.invalid" (click)="deletebook(b_id.value)"
                        class="submitbtn btn btn-primary">Delete book</button>
                </div>
            </div>

        </form>

    </div>

</div>
