<div class="container-fluid authorbg p-5">






    <div class="formbg">

        <form class="p-5 authorform" [formGroup]="deletebyidForm" #deleteauthorForm="ngForm">

            <h1>Delete Author by id</h1>

            <div class="my-5">
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-4 col-form-label">Author Id:- </label>
                    <div class="col-8">
                        <input type="text" formControlName="a_id" #a_id (ngModel)="a_id" class="form-control"
                            placeholder="Author Id">
                        <div
                            *ngIf="deletebyidForm.get('a_id')?.invalid && (deletebyidForm.get('a_id')?.dirty || deletebyidForm.get('a_id')?.touched)">
                            <div *ngIf="deletebyidForm.get('a_id')?.hasError('required')"
                                class="validation text-danger">
                                Please
                                enter valid Id...</div>

                            <div *ngIf="deletebyidForm.get('a_id')?.hasError('pattern')" class="validation text-danger">
                                ID should be a positive integer / greater than 0.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" [disabled]="deletebyidForm.invalid" (click)="deleteauthor(a_id.value)"
                        class="submitbtn btn btn-primary">Delete author</button>
                </div>
            </div>
        </form>

    </div>
</div>
