<div class="container my-5">
  <h1 class="textimg">Welcome to Book Management System</h1>
</div>




<div class="container my-4 bg-light px-5">
  <h2>Introduction of Book Management System:- </h2>
  <div class="row">
    <div class="col-6 p-4 ">
      <div class="image-container filter">
        <img src="/assets/bookImages/homeBook.jpg" class="hoomBook img-fluid" alt="...">
      </div>
    </div>
    <div class="col-6">
      <p class="lead fw-semibold py-4 text-justify">

        The project seamlessly integrates <mark>Angular Framework, Spring Boot Java Framework and MySQL for
          database</mark> to
        establish a comprehensive Book Management
        System. Leveraging the power of relational databases, the Book and Author tables facilitate the seamless
        organization and retrieval of literary resources. Through Spring Boot, <mark>robust CRUD (Create, Read, Update,
          Delete) operations are implemented</mark>, ensuring efficient data management and seamless interaction with
        the MySQL
        database. The Angular front-end enhances user experience with a dynamic and responsive interface, enabling users
        to effortlessly perform operations on both books and authors. This synergistic integration of technologies not
        only optimizes data handling but also provides an intuitive and user-friendly platform for the effective
        management of a diverse literary collection.

      </p>
    </div>
  </div>
</div>
